<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789026178813-0b9l2m8qalduttiav6h3pl46ci8q5i3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789026178813-0b9l2m8qalduttiav6h3pl46ci8q5i3h</string>
	<key>API_KEY</key>
	<string>AIzaSyCtUOlBnwzmzAPS1efKhnI7z-_PeM0DZtk</string>
	<key>GCM_SENDER_ID</key>
	<string>789026178813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dekoda9</string>
	<key>PROJECT_ID</key>
	<string>dekoda9-30257</string>
	<key>STORAGE_BUCKET</key>
	<string>dekoda9-30257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789026178813:ios:68a1204e6937d3ce7f2094</string>
</dict>
</plist>